.chart_container {
  width: 100%;

  .data_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.83rem;
    .item {
      flex: 1;
      color: #808080;
      font-family: Inter;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: flex;
      flex-direction: column;
      align-items: center;
      div {
        margin-top: 0.17rem;
        color: #fff;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }
  } 
}
