.parent {
    width: 100%;
    display: flex;
    height: 50px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    .titleContent {
        color: #FFF;
        font-family: PingFang SC;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .timeContent {
        color: rgba(255, 255, 255, 0.80);
        font-family: PingFang SC;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.parent::-webkit-scrollbar {
    display: none;
}

/*设置的子盒子高度大于父盒子，产生溢出效果*/
.child {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
}

.child>span {
    height: 50px;
    margin: 2px 0;
    white-space: nowrap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-align: center;
    color: #000000;

    // .recordItem {
    //     display: flex;
    //     flex-wrap: nowrap;

    //     >div {
    //         white-space: nowrap;
    //     }
    // }
}

.mesage-text {
    position: absolute;
    margin-left: 10px;
    height: 50px;
    line-height: 50px;
}