@font-face {
  font-family: "Inter-Bold-4";
  src: url("./assets/font/Inter-Bold-4.otf");
}
@font-face {
  font-family: "Kavoon";
  src: url("./assets/font/Kavoon-Regular.ttf");
}


body {
  margin: 0;
  font-family: "Inter-Bold-4", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "sans-serif" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 去除 Chrome、Safari、Edge 的箭头 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 去除 Firefox 的箭头 */
input[type=number] {
  -moz-appearance: textfield;
}

html,
body,
div,
span,
applet,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-weight: normal;
  vertical-align: baseline;
  font-size: 12px;
  /* user-select: none; */
  /* font-family: PingFang SC, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Segoe UI, Arial, Roboto, 'PingFang SC', miui, 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif !important; */
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  vertical-align: middle;
}

/* custom */
a {
  outline: none;
  color: #16418a;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}

a:focus {
  outline: none;
}

input:focus,
select:focus,
textarea:focus {
  outline: -webkit-focus-ring-color auto 0;
}

.ant-menu-title-content {
  font-size: 20px;
}

.layoutMain {
  position: relative;
}


/* 分页 */
.ant-pagination-item:hover a {
  color: #FFFD41
}

.ant-pagination-item:hover {
  border-color: #FFFD41 !important;
}

.ant-pagination-item {
  background-color: #FFFD41 !important;
}

.ant-pagination-next .ant-pagination-item-link,
.ant-pagination-prev .ant-pagination-item-link {
  color: #FFFD41 !important;
}

.ant-pagination-jump-next:hover .ant-pagination-item-container:hover .ant-pagination-item-link-icon:hover,
.ant-pagination-jump-prev:hover .ant-pagination-item-container:hover .ant-pagination-item-link-icon:hover {
  color: #FFFD41 !important;
}

.ant-pagination-jump-next:hover .ant-pagination-item-container:hover .ant-pagination-item-link-icon:hover,
.ant-pagination-jump-prev:hover .ant-pagination-item-container:hover .ant-pagination-item-link-icon:hover {
  color: #FFFD41 !important;
}

.ant-pagination-jump-next:hover .ant-pagination-item-container:hover .ant-pagination-item-link-icon:hover,
.ant-pagination-jump-prev:hover .ant-pagination-item-container:hover .ant-pagination-item-link-icon:hover {
  color: #FFFD41 !important;
}

.ant-pagination-next:focus-visible .ant-pagination-item-link,
 .ant-pagination-item-link,
.ant-pagination-prev:focus-visible .ant-pagination-item-link,
 .ant-pagination-item-link {
  color: #FFFFE7 !important;
  border-color: #FFFFE7 !important;
}
.ant-pagination-prev:hover, .ant-pagination-next:hover{
  color: #FFFD41 !important;
  border-color: #FFFD41 !important;
}

.ant-pagination-prev {
  border-radius: 4px !important;
}

.ant-pagination-item-link {
  border-radius: 4px !important;
}

.ant-pagination-item {
  background-color: #FFFFE7 !important;
  border-radius: 4px !important;
}

.ant-pagination-item-active {
  border-color: #FFFD41 !important;
}

.ant-pagination-item a {
  color: #1E1E1E !important;
  border-radius: 4px;
}

.ant-pagination-item-active a {
  color: #1E1E1E !important;
}

.ant-pagination-item-active {
  background: #FFFD41 !important;
}
.ant-pagination-item-ellipsis{
  color: #FFFFE7 !important;
}

/* 版心 */
.Edition-Center {
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
  padding-bottom: 40px;
}

/* flex 居中 */
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 鼠标手势 */
.pointer {
  cursor: pointer;
}

body::-webkit-scrollbar {
  /* background-color: pink;
  width: 10px; */
  display: none !important;
}

/*定义滚动条轨道 内阴影+圆角*/
body::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f5f5f5; */
  display: none !important;
}

body::-webkit-scrollbar-thumb {
  /* border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px 6px rgba(0, 0, 0, 0.3);
  background-color: #ddd; */
  display: none !important;
}

.detailList::-webkit-scrollbar {
  width: 2px;
}

/* 全局滚动条样式（适用于所有浏览器） */
.advanced_list { 
  scrollbar-width: thin; /* Firefox 兼容 */
  scrollbar-color: #ddd transparent; /* Firefox 滚动条颜色（滑块，轨道） */ 
  border-radius: 24px; /* 滑块圆角 */
}

/* Webkit 浏览器（Chrome/Edge/Safari）的滚动条样式 */
.advanced_list::-webkit-scrollbar {
  width: 4px; /* 滚动条宽度 */ 
}

.advanced_list::-webkit-scrollbar-thumb {
  background: #ddd !important; /* 滑块颜色 */
  border-radius: 24px; /* 滑块圆角 */
}

.advanced_list::-webkit-scrollbar-thumb:hover {
  background: #ddd !important; /* 滑块悬停颜色 */
}

.advanced_list::-webkit-scrollbar-track {
  background: #ddd !important; /* 轨道颜色 */
}

/* 滚动条样式（适用于所有浏览器） */
.scrollbar_style { 
  scrollbar-width: thin; /* Firefox 兼容 */
  scrollbar-color: #ddd transparent; /* Firefox 滚动条颜色（滑块，轨道） */  
}

/* Webkit 浏览器（Chrome/Edge/Safari）的滚动条样式 */
.scrollbar_style::-webkit-scrollbar {
  width: 4px; /* 滚动条宽度 */ 
}

.scrollbar_style::-webkit-scrollbar-thumb {
  background: #ddd !important; /* 滑块颜色 */
  border-radius: 24px; /* 滑块圆角 */
}

.scrollbar_style::-webkit-scrollbar-thumb:hover {
  background: #ddd !important; /* 滑块悬停颜色 */
}

.scrollbar_style::-webkit-scrollbar-track {
  background: #ddd !important; /* 轨道颜色 */
}